<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.s2k.camp.dao.CampDAO">
	<!-- 1. 일반야영장 불러오기 -->
	<select id="selectCampSitel" parameterType="hashmap" resultType="campInfoVO">
	 select  
	 	idx,
	 	lineIntro,
	 	posblFcltyCl,
	 	themaEnvrnCl,
	 	firstImageUrl, 
	 	doNm,
	 	sbrsEtc,
	 	sigunguNm,
	 	zipcode, 
	 	lctCl,
	 	sbrsCl,
	 	addr1,
	 	addr2,
	 	facltNm,
	 	homepage,
	 	resveUrl,
	 	induty,
	 	mapX,
	 	mapY,
	 	homepage,
	 	animalCmgCl,
	 	(abs(#{lon}-mapX)+abs(#{lat}-mapY)) as distance
	 from camp_info 
	 where induty like '%일반야영장%' 
	 order by
	 	distance 
	 limit #{startNo}, #{pageSize}
	 </select>
	 
	 <select id="selectCountSite" resultType="int">
 		select count(*) from camp_info where induty like '%일반야영장%'
 	</select>
	
	 <!-- idx 조회  -->
	 <select id="selectCamplInfo" resultType="map" >
	  select  
	 	idx,
	 	lineIntro,
	 	posblFcltyCl,
	 	themaEnvrnCl,
	 	firstImageUrl, 
	 	doNm,
	 	sbrsEtc,
	 	sigunguNm,
	 	zipcode, 
	 	lctCl,
	 	sbrsCl,
	 	addr1,
	 	addr2,
	 	facltNm,
	 	homepage,
	 	resveUrl,
	 	induty,
	 	mapX,
	 	mapY,
	 	homepage,
	 	animalCmgCl
	 from camp_info where idx = #{idx}
	 </select>
	 
	 
	 <!-- 2. 자동차야영장 불러오기 -->
	<select id="selectcarCampground" resultType="map" >
	 select  
	 	idx,
	 	lineIntro,
	 	posblFcltyCl,
	 	themaEnvrnCl,
	 	firstImageUrl, 
	 	doNm,
	 	sbrsEtc,
	 	sigunguNm,
	 	zipcode, 
	 	lctCl,
	 	sbrsCl,
	 	addr1,
	 	addr2,
	 	facltNm,
	 	homepage,
	 	resveUrl,
	 	induty,
	 	mapX,
	 	mapY,
	 	homepage,
	 	animalCmgCl
	 from camp_info where induty like '%자동차야영장%' 
	 </select>
	 
	  <!-- 3. 글램핑 불러오기 -->
	<select id="selectGlamping" resultType="map" >
	 select  
	 	idx,
	 	lineIntro,
	 	posblFcltyCl,
	 	themaEnvrnCl,
	 	firstImageUrl, 
	 	doNm,
	 	sigunguNm,
	 	zipcode, 
	 	lctCl,
	 	addr1,
	 	addr2,
	 	facltNm,
	 	homepage,
	 	resveUrl,
	 	induty,
	 	mapX,
	 	mapY,
	 	homepage,
	 	animalCmgCl
	 from camp_info where induty like '%글램핑%' 
	 </select>
	 
	   <!-- 4. 카라반 불러오기 -->
	<select id="selectCaravan" resultType="map" >
	 select  
	 	idx,
	 	lineIntro,
	 	posblFcltyCl,
	 	themaEnvrnCl,
	 	firstImageUrl, 
	 	doNm,
	 	sigunguNm,
	 	zipcode, 
	 	lctCl,
	 	addr1,
	 	addr2,
	 	facltNm,
	 	homepage,
	 	resveUrl,
	 	induty,
	 	mapX,
	 	mapY,
	 	homepage,
	 	animalCmgCl
	 from camp_info where induty like '%카라반%' 
	 </select>
	 
	 <!-- 캠핑장 이름으로 찾기 -->
	 <select id="selectSearchList" parameterType="hashmap" resultType="campInfoVO">
	 	 select  
		 	idx,
		 	lineIntro,
		 	posblFcltyCl,
		 	themaEnvrnCl,
		 	firstImageUrl, 
		 	doNm,
		 	sigunguNm,
		 	zipcode, 
		 	lctCl,
		 	addr1,
		 	addr2,
		 	facltNm,
		 	homepage,
		 	resveUrl,
		 	induty,
		 	mapX,
		 	mapY,
		 	homepage,
		 	animalCmgCl,
		 	(abs(#{lon}-mapX)+abs(#{lat}-mapY)) as distance
		 from camp_info
		 where facltNm like concat('%',#{searchText},'%')
		 <if test = "searchType != '-선택-'">and doNm like concat('%',#{searchType},'%')</if> 
		 <if test = "searchType2 != '-선택-'">and sigunguNm like concat('%',#{searchType2},'%')</if>
		 <if test="animalCheck == '가능'">and animalCmgCl like concat(#{animalCheck},'%')</if>
		 order by
	 		 distance 
		 limit #{startNo}, #{pageSize}
	 </select>
	 <!-- 캠핑장 검색별 개수 -->
	 <select id="selectSearchCount" parameterType="hashmap" resultType="int">
	 	 select  
		 	count(*)
		 from camp_info
		 where facltNm like concat('%',#{searchText},'%')
		<if test = "searchType != '-선택-'">and doNm like concat('%',#{searchType},'%')</if>
		<if test = "searchType2 != '-선택-'">and sigunguNm like concat('%',#{searchType2},'%')</if>
	 	<if test="animalCheck == '가능'">and animalCmgCl like concat(#{animalCheck},'%')
	 	</if>
	 </select>
	 
	
 	<!-- 메인페이지 개수찍기 -->
	<select id="selectCountTotal" resultType="int">
		select count(*)	from camp_info
	</select>
	<select id="selectCountCampsitel" resultType="int">
		select count(*) from camp_info	where induty like '%일반야영장%'
	</select>
	<select id="selectCountCar" resultType="int">
		select count(*) from camp_info	where induty like '%자동차야영장%'
	</select>
	<select id="selectCountGlamping" resultType="int">
		select count(*) from camp_info	where induty like '%카라반%' or induty like '%글램핑%' 
	</select>
</mapper>