<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.s2k.camp.dao.MemberDAO">

	<!-- 1. 저장하기 -->
	<insert id="insert" parameterType="MemberVO">
		insert into camp_member
		(mb_ID,mb_password,mb_name,mb_nick,mb_email,mb_tel,mb_birth,mb_zipcode,mb_address1,mb_address2,authkey,socialID,socialNumber)
		<!-- insert into camp_member로 그냥 해놓으면 전체적인 값을 집어넣어줘야함 위에 같이 이렇게 명시해서 넣으면 
			필요한 값만 넣음. -->
		values
		(
		<!-- #{mb_idx}, -->
		#{mb_ID},
		#{mb_password},
		#{mb_name},
		#{mb_nick},
		#{mb_email},
		#{mb_tel},
		#{mb_birth},
		#{mb_zipcode},
		#{mb_address1},
		#{mb_address2},
		#{authkey},  <!-- 
			임시 authKey 나중에 바꿔야함. -->
		#{socialID},
		#{socialNumber}

		)
	</insert>

	<!-- 2. 1개 얻기 -->
	<select id="selectByIdx" parameterType="int"
		resultType="MemberVO">
		select cm.*, mr.gr_role from camp_member cm, member_role mr
		where cm.mb_ID =
		mr.mb_ID and cm.mb_idx=#{mb_idx}
	</select>

	<!-- 3. 유저 탈퇴 -->
	<!-- 유저가 회원 탈퇴를 할 경우 DB에 회원정보는 일단 남아있어야한다. -->
	<update id="userDelete" parameterType="MemberVO">
		update camp_member set
		del = 1          <!-- del(회원탈퇴여부)을 1로 표시 -->
		where
		mb_idx = #{mb_idx}

	</update>

	<!-- 4. 모두보기(관리자만 사용) -->
	<select id="selectList" resultType="MemberVO">
		select
		cm.*, mr.gr_role
		from
		camp_member cm inner join member_role mr
		on
		cm.mb_ID = mr.mb_ID
		order by
		mb_idx
	</select>

	<!-- 5. 개수세기 -->
	<select id="selectCount" resultType="int">
		select count(*) from
		camp_member
	</select>

	<!-- 6. 해당아이디의 개수세기(아이디 중복확인 : 0이면 없는아이디, 1이상이면 존재하는 아이디) -->
	<select id="selectCountByUserId" resultType="int"
		parameterType="string">
		select count(*) from camp_member where mb_ID=#{mb_ID}
	</select>

	<!-- 7. 해당닉네임의 개수세기(아이디 중복확인 : 0이면 없는아이디, 1이상이면 존재하는 아이디) -->
	<select id="selectCountByUserNick" resultType="int"
		parameterType="string">
		select count(*) from camp_member where
		mb_nick=#{mb_nick}
	</select>

	<!-- 8. 이름과 전화번호로 가져오기(아이디찾기 사용) -->
	<select id="selectByUsername" parameterType="hashmap"
		resultType="MemberVO">
		select * from camp_member where mb_name=#{mb_name} and
		mb_tel=#{mb_tel}
	</select>

	<!-- 9. ID와과 전화번호로 가져오기(비번찾기 사용) -->
	<select id="selectByUserId" parameterType="hashmap"
		resultType="MemberVO">
		select * from camp_member where mb_ID=#{mb_ID} and
		mb_email=#{mb_email}
	</select>

	<!-- 10. 인증여부를 변경하는 쿼리 -->
	<update id="updateRole" parameterType="hashmap">
		update camp_member a join
		member_role mr on
		a.mb_ID = mr.mb_ID
		set
		mr.gr_role ='ROLE_USER',      <!-- gr_role(권한)을 ROLE_USER로 변경 -->
		a.mb_use = '1'   					<!-- mb_use(인증여부)를 1로 변경 -->
		where
		mr.mb_ID=#{mb_ID} and a.authkey=#{authkey};
	</update>

	<!-- 11. 비밀번호 변경하기 -->
	<update id="updatePassword" parameterType="hashmap">
		update camp_member set
		mb_password=#{mb_password} where mb_ID=#{mb_ID}
	</update>

	<!-- 12. ID로 가져오기 -->
	<select id="selectUserId" parameterType="string"
		resultType="MemberVO">
		select
		a.mb_idx,
		a.mb_ID,
		a.mb_password,
		a.mb_name,
		a.mb_nick,
		a.mb_email,
		a.mb_tel,
		a.mb_birth,
		a.mb_zipcode,
		a.mb_address1,
		a.mb_address2,
		a.mb_use,
		a.authkey,
		a.del,
		mr.gr_idx,
		mr.gr_role
		from
		camp_member a
		join member_role mr on a.mb_ID = mr.mb_ID
		where
		a.mb_ID=#{mb_ID}
	</select>

	<!-- 13. 해당이메일의 개수세기(이메일 중복확인 : 0이면 없는 이메일, 1이상이면 존재하는 이메일 -->
	<select id="selectCountByEmail" resultType="int"
		parameterType="string">
		select count(*) from camp_member where
		mb_email=#{mb_email}
	</select>
	<update id="updateNick" parameterType="hashmap">
		update camp_member set
		mb_Nick = #{mb_nick}
		where mb_ID= #{mb_ID}
	</update>

	<!-- 맴버 검색기능. 검색주제를 searchType으로 지정, 검색내용은 #{searchText}로 지정 -->
	<select id="selectSearchMember" parameterType="hashmap"
		resultType="MemberVO">
		select a.*,(select gr_role from member_role where mb_ID =a.mb_ID)as
		gr_role from camp_member a where
		<!-- 검색주제가 all인 경우 -->
		<if test="searchType == 'all'">
			a.mb_ID like concat('%',#{searchText},'%')
			or a.mb_nick
			like concat
			('%',#{searchText},'%')
			or a.mb_name like concat
			('%',#{searchText},'%')
			or (select gr_role from member_role where
			mb_ID = a.mb_ID) like concat('%',#{searchText},'%')
		</if>
		<!-- 검색주제가 id인 경우 -->
		<if test="searchType == 'id'">a.mb_ID like concat('%',#{searchText},'%') </if>
		<!-- 검색주제가 nick인 경우 -->
		<if test="searchType == 'nick'">a.mb_nick like concat ('%',#{searchText},'%') </if>
		<!-- 검색주제가 name인 경우 -->
		<if test="searchType == 'name'">a.mb_name like concat ('%',#{searchText},'%')</if>
		<!-- 검색주제가 role인 경우 -->
		<if test="searchType == 'role'">(select gr_role from member_role where mb_ID = a.mb_ID)
			like concat('%',#{searchText},'%') </if>
	</select>

	<!-- 검색된 결과 갯수 세기. 검색주제를 searchType으로 지정, 검색내용은 #{searchText}로 지정 -->
	<select id="selectSearchCount" parameterType="commonVO"
		resultType="int">
		select count(mb_ID) from camp_member a
		where
		<!-- 검색주제가 all인 경우 -->
		<if test="searchType == 'all'">
			mb_ID like concat('%',#{searchText},'%')
			or mb_nick like
			concat ('%',#{searchText},'%')
			or mb_name like concat
			('%',#{searchText},'%')
			or (select gr_role from member_role where
			mb_ID = a.mb_ID) like concat('%',#{searchText},'%')
		</if>
		<!-- 검색주제가 id인 경우 -->
		<if test="searchType == 'id'">mb_ID like concat('%',#{searchText},'%') </if>
		<!-- 검색주제가 nick인 경우 -->
		<if test="searchType == 'nick'">mb_nick like concat ('%',#{searchText},'%') </if>
		<!-- 검색주제가 name인 경우 -->
		<if test="searchType == 'name'">mb_name like concat ('%',#{searchText},'%')</if>
		<!-- 검색주제가 role인 경우 -->
		<if test="searchType == 'role'">(select gr_role from member_role where mb_ID = a.mb_ID)
			like concat('%',#{searchText},'%') </if>
	</select>

	<!-- 소셜 로그인 -->
	<select id="socialIdChk" parameterType="String"
		resultType="memberVO">
		select
		a.mb_idx,
		a.mb_ID,
		a.mb_password,
		a.mb_name,
		a.mb_nick,
		a.mb_email,
		a.mb_tel,
		a.mb_birth,
		a.mb_zipcode,
		a.mb_address1,
		a.mb_address2,
		a.mb_use,
		a.authkey,
		a.del,
		a.socialID,
		a.socialNumber,
		mr.gr_idx,
		mr.gr_role
		from
		camp_member a
		join member_role mr on a.mb_ID =
		mr.mb_ID
		where socialID=#{socialID}
	</select>
</mapper>