<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PRO.S2K.CAMP.DAO.SnsDAO">

  <select id="selectSnsUserBySnsId" resultMap="snsUserResultMap">
    select a.username,
    a.email,
    a.nickname,
    a.create_date,
    a.modify_date,
    b.sns_id,
    b.sns_type,
    b.sns_name,
    b.sns_profile,
    b.sns_connect_date
    from camp_member a,
    sns_member b
    where
    a.id = b.id
    AND b.sns_id = #{snsId}
  </select>
</mapper>